:root{
    --background-color:#fff;
    --main-color:#001F3F;
    --secondary-color:#BDC3C7;
    --accent-one:#3498DB;
    --accent-two:#E5E7E9;
    --highlight-one:#2ECC71;
    --highlight-two:#FFD700;
    --text-one:#333333;
    --text-two:#F9F9F9;
    --optional-accent:#B76E79;
}