<h1>
    Our Featured Brands
</h1>
<div id="page2">
    <div #elem class="elem" id="elem2">
        <div>
            <h2>ZeroB Hydrolife:</h2>
            <p class="action-button">
                Elevate your hydration experience with ZeroB Alkaline Water Generators. Designed with precision and innovation, ZeroB products offer you access to clean, alkaline water right in your home. Experience the benefits of improved hydration, enhanced energy, and overall wellness. Say goodbye to the inconvenience of purchasing bottled water and join the ZeroB revolution.
            </p>
            <button>
                View Products
            </button>
        </div>
    </div>
    <div #elem class="elem" id="elem3">
        <div>
            <h2>Crompton High-End Kitchen Appliances:</h2>
            <p class="action-button">
                When it comes to creating culinary masterpieces, having the right tools at your disposal is essential. Discover the world of Crompton high-end kitchen appliances, where form meets function and innovation blends seamlessly with style. From sleek and efficient food processors to state-of-the-art induction cooktops, our collection is designed to make cooking a joyous experience.
            </p>
            <button>
                View Products 
            </button>
        </div>
    </div>
</div>
